# Lab 4

#### 1)

In [21]:
num = 1

for x in range(1, 6):
    num = num * x
print(num)

120

#### 2)

In [26]:
num = 0

for x in range(1, 6):
    num = num + x
print(num)

15

#### 3)

In [28]:
num = 1

for x in range(3, 10):
    num = num * x
print(num)

181440

#### 4)

In [32]:
num = 1
result = 1
total = 0

for x in range(1, 9):
    num = num * x
    
for i in range(1, 4):
    result = result * i 
    
total = num / result

print(total)

6720.0

#### 5)

In [19]:
for x in range (7):
    
    if x == 3:
        continue
    elif x == 6:
        continue
        
    print(x)

0
1
2
4
5

#### 6)

In [46]:
my_str = 'this is my fourth string'
count  = 0

for num in my_str.split():
    count += 1
    num == count
print(count)

5

#### 7)

In [59]:
num_list = [12, 32, 43, 35]

while num_list:
    num_list.remove(num_list[0])
    
print(num_list)

[]

#### 8)

In [68]:
new_str = 'this is my fourth string'.split()
count = 0

while new_str:
    print(new_str)
    count += 1
    new_str.remove(new_str[0])
print(count)

['this', 'is', 'my', 'fourth', 'string']
['is', 'my', 'fourth', 'string']
['my', 'fourth', 'string']
['fourth', 'string']
['string']
5

#### 9)

In [4]:
my_tweet = {'favorite_count': 1138, 'lang': 'ch', \
            'coordinates': (-75.14310264, 40.05701649),\
           'entities': {'hashtags': ['Preds', 'Pens', 'SingIntoSpring']}}
count = 0


#9.1
for item in (my_tweet['entities']['hashtags']):
    count += 1
    print(count)
    
#9.2
while count < len(my_tweet['entities']['hashtags']):
    count += 1
    print(count)

1
2
3

#### 10)

In [44]:
num_list = [12, 32, 43, 35]
max_item = num_list[0]
min_item = num_list[-1]

for item in num_list:

12
43